body{
    user-select: none;
    margin: 0;
    box-shadow: inset 0px 0px 100px 100px rgb(38, 106, 116);
    background-color: rgb(80, 203, 189);
}

h1{
    color: rgb(4, 53, 82);
}

.game-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.etch-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: start;
    max-width: 128px;

    border: 2px solid red;
    border-radius: 8px;
}

.etch-node{
    background-color: grey;
    width: 32px;
    height: 32px;
    transition: all .1s;
}

.etch-node:hover{
    filter: brightness(1.25);
    scale: 1.25;
    border-radius: 8px;
    z-index: 1;
}