body{
    user-select: none;
    margin: 0;
    box-shadow: inset 0px 0px 64px 32px rgb(38, 106, 116);
    background-color: rgb(80, 203, 189);
}

h1{
    color: rgb(4, 53, 82);
}

.game-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.etch-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: start;
    width: 512px;
    height: 512px;

    border: 2px solid red;
    border-radius: 8px;
    box-shadow: 0px 0px 32px 8px rgba(0, 0, 0, 0.175);
}

.etch-node{
    background-color: grey;
    transition: all .1s;
}

.etch-node:hover{
    filter: brightness(1.25);
    scale: 1.25;
    border-radius: 8px;
    z-index: 1;
}

.grid-size-button-container{
    display: flex;
    border: 2px solid red;
    border-radius: 8px;
    border-top: none;
}

.grid-size-button{
    width: 100px;
    height: 32px;
    background-color: rgb(243, 213, 171);
    border-color: red;
    border-top: none;
    cursor: pointer;
    transition: all .12s;
}

.grid-size-button:hover{
    scale: 1.1;
    filter: brightness(1.1) hue-rotate(-25deg);
}